In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn

historical_join_db2 = pd.read_excel('./historical_join_db2.xlsx')
historical_join_db2.rename(columns={'Unnamed: 0': 'DataBases'}, inplace = True)

database_models = pd.read_excel('./databases_models.xlsx')
database_models_final = pd.merge(database_models, historical_join_db2, left_on='DataBases', right_on='DataBases')
database_models_final

,DataBases,Primary Model,Second Model,Model,Activiti,AmazeFileManager,Android-IMSI-Catcher-Detector,Anki-Android,AntennaPod,AnySoftKeyboard,...,xabber-android,yacy_search_server,zalenium,zaproxy,zeebe,zeppelin,zipkin,zookeeper,zotfile,SumperDatabase
0,Aerospike,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Amazon Redshift,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,7,0,0,0,6
2,Cassandra,Wide column,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,8,9,0,0,18
3,ClickHouse,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
4,Couchbase,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
5,CouchDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6,DynamoDB,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
7,Ehcache,Key-value,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,57
8,Elasticsearch,Search engine,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,8,7,2,0,0,26
9,Etcd,Key-value,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
10,FileMaker,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Firebase Realtime,Document,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
12,Firebird,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
13,Google BigQuery,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
14,Google Cloud Datastore,Document,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,10,0,0,0,22
15,H2,Relational,Multi-model,SQL,9,0,0,0,0,0,...,0,0,0,0,0,7,3,0,0,76
16,Hazelcast,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,1,0,0,0,3,0,0,0,20
17,HBase,Wide column,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,7,1,0,0,19
18,Hive,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,9,0,0,0,11
19,IBM_DB2,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
20,Ignite_NoSql,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,8,0,0,0,3
21,Ignite_Sql,Multi-model,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,Impala,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,Influx DB,Time Series,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,4
24,Informix,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
25,MariaDB,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,7,7,0,0,43
26,MarkLogic_NoSql,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,MarkLogic_Sql,Multi-model,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Memcached,Key-value,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
29,Microsoft Azure CosmosDB,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
30,Microsoft Azure Table Storage,Wide column,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31,MongoDB,Document,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,0,38
32,MS_Access,Relational,Relational,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
33,MS_SQL_Server,Relational,Multi-model,SQL,4,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,36
34,MySQL,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,10,0,6,0,8,9,2,0,110
35,Neo4j,Graph,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,0,4
36,Netezza,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
37,Oracle,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,0,0,6,0,0,0,0,0,65
38,OrientDB,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
39,PostGIS,Spatial DBMS,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
40,PostgreSQL,Relational,Multi-model,SQL,6,0,0,0,0,0,...,0,10,0,0,0,9,3,0,0,75
41,Realm,Document,NaN,NoSQL,0,0,1,0,0,0,...,9,0,0,0,0,0,0,0,0,5
42,Redis,Key-value,Multi-model,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,8,0,0,0,64
43,Riak KV,Key-value,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,SAP Adaptive Server,Relational,Multi-model,SQL,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
45,SapHana,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
46,Snowflake,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
47,Solr,Search engine,Multi-model,NoSQL,0,0,0,0,0,0,...,0,5,0,0,0,0,0,0,0,15
48,SQLite,Relational,NaN,SQL,0,0,0,0,0,0,...,0,0,0,8,0,0,4,0,0,37
49,Teradata,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
50,Vertica,Relational,Multi-model,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
51,Virtuoso_NoSql,Multi-model,NaN,NoSQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,Virtuoso_Sql,Multi-model,NaN,SQL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
df_model = database_models_final.copy()
df_model = df_model.groupby(['Model']).sum()
df_model = df_model.mask(df_model > 0, True)
df_model = df_model.mask(df_model == 0, False)
df_model = df_model.transpose()
df_sql = df_model.SQL
df_nosql = df_model.NoSQL

In [3]:
df_sql = pd.DataFrame(data = df_sql)
df_nosql = pd.DataFrame(data= df_nosql)
df_sql.reset_index(inplace=True)
df_nosql.reset_index(inplace=True)

In [4]:
df_sql = df_sql.rename(columns={'index' : 'Projects'})
df_sql

                          Projects    SQL
0                         Activiti   True
1                 AmazeFileManager  False
2    Android-IMSI-Catcher-Detector  False
3                     Anki-Android  False
4                       AntennaPod  False
..                             ...    ...
319                       zeppelin   True
320                         zipkin   True
321                      zookeeper   True
322                        zotfile  False
323                 SumperDatabase   True

[324 rows x 2 columns]

In [5]:
df_nosql = df_nosql.rename(columns={'index' : 'Projects'})
df_nosql

                          Projects  NoSQL
0                         Activiti  False
1                 AmazeFileManager  False
2    Android-IMSI-Catcher-Detector   True
3                     Anki-Android  False
4                       AntennaPod  False
..                             ...    ...
319                       zeppelin   True
320                         zipkin   True
321                      zookeeper  False
322                        zotfile  False
323                 SumperDatabase   True

[324 rows x 2 columns]

In [6]:
models_of_database_per_project = pd.merge(df_sql, df_nosql, left_on='Projects', right_on='Projects')
models_of_database_per_project

                          Projects    SQL  NoSQL
0                         Activiti   True  False
1                 AmazeFileManager  False  False
2    Android-IMSI-Catcher-Detector  False   True
3                     Anki-Android  False  False
4                       AntennaPod  False  False
..                             ...    ...    ...
319                       zeppelin   True   True
320                         zipkin   True   True
321                      zookeeper   True  False
322                        zotfile  False  False
323                 SumperDatabase   True   True

[324 rows x 3 columns]

In [7]:
def identify_model (row):
    if (row['SQL'] and row['NoSQL']):
        return 'Multi-Model'
    else:
        if (row['SQL']):
            return 'Relational'
        if (row['NoSQL']):
            return 'Non-Relational '

models_of_database_per_project['Model'] = models_of_database_per_project.apply(lambda row: identify_model(row), axis=1)
models_of_database_per_project

                          Projects    SQL  NoSQL            Model
0                         Activiti   True  False       Relational
1                 AmazeFileManager  False  False             None
2    Android-IMSI-Catcher-Detector  False   True  Non-Relational
3                     Anki-Android  False  False             None
4                       AntennaPod  False  False             None
..                             ...    ...    ...              ...
319                       zeppelin   True   True      Multi-Model
320                         zipkin   True   True      Multi-Model
321                      zookeeper   True  False       Relational
322                        zotfile  False  False             None
323                 SumperDatabase   True   True      Multi-Model

[324 rows x 4 columns]

In [8]:
models_of_database_per_project[models_of_database_per_project['Model'].isnull()]
models_of_database_per_project.dropna(subset=['Model'], inplace=True)
models_of_database_per_project

                          Projects    SQL  NoSQL            Model
0                         Activiti   True  False       Relational
2    Android-IMSI-Catcher-Detector  False   True  Non-Relational
7                          Arduino   True  False       Relational
8                       AsciidocFX   True   True      Multi-Model
9                        BIMserver   True   True      Multi-Model
..                             ...    ...    ...              ...
318                          zeebe  False   True  Non-Relational
319                       zeppelin   True   True      Multi-Model
320                         zipkin   True   True      Multi-Model
321                      zookeeper   True  False       Relational
323                 SumperDatabase   True   True      Multi-Model

[201 rows x 4 columns]

In [9]:
models_of_database_per_project = models_of_database_per_project[['Projects', 'Model']]
models_of_database_per_project.to_excel('models_of_database_per_project.xlsx', index=False)
models_of_database_per_project

                          Projects            Model
0                         Activiti       Relational
2    Android-IMSI-Catcher-Detector  Non-Relational
7                          Arduino       Relational
8                       AsciidocFX      Multi-Model
9                        BIMserver      Multi-Model
..                             ...              ...
318                          zeebe  Non-Relational
319                       zeppelin      Multi-Model
320                         zipkin      Multi-Model
321                      zookeeper       Relational
323                 SumperDatabase      Multi-Model

[201 rows x 2 columns]

In [10]:
annotated_java = pd.read_excel('./annotated_java.xlsx')
annotated_java_final = pd.merge(annotated_java, models_of_database_per_project, left_on='name', right_on='Projects')
annotated_java_final

,owner,name,createdAt,pushedAt,isMirror,diskUsage,primaryLanguage,languages,contributors,watchers,...,branches,tags,releases,url,isSoftware,discardReason,domain,description,Projects,Model
0,Activiti,Activiti,2012-09-13 11:34:43,2019-08-23 12:02:11,False,95935,Java,5,171,623,...,74,263,23,http://www.github.com/Activiti/Activiti,Y,NaN,automation,Activiti is a light-weight workflow and Busine...,Activiti,Relational
1,airbytehq,airbyte,2020-07-27 23:55:54,2021-03-27 01:11:40,False,36699,Java,12,35,62,...,192,39,24,http://www.github.com/airbytehq/airbyte,Y,NaN,infrastructure management,Airbyte is an open-source EL(T) platform that ...,airbyte,Multi-Model
2,airsonic,airsonic,2017-07-04 17:58:56,2021-03-19 20:21:24,False,122634,Java,8,51,62,...,25,27,26,http://www.github.com/airsonic/airsonic,Y,NaN,media,":satellite: :cloud: :notes:Airsonic, a Free an...",airsonic,Multi-Model
3,alibaba,spring-cloud-alibaba,2017-12-01 20:49:15,2019-08-23 08:51:45,False,4285,Java,2,53,594,...,3,10,5,http://www.github.com/alibaba/spring-cloud-ali...,Y,NaN,infrastructure management,Spring Cloud Alibaba provides a one-stop solut...,spring-cloud-alibaba,Relational
4,alibaba,nacos,2018-06-15 06:49:27,2019-08-23 11:58:15,False,19342,Java,7,72,620,...,77,21,19,http://www.github.com/alibaba/nacos,Y,NaN,infrastructure management,"an easy-to-use dynamic service discovery, conf...",nacos,Relational
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,wikimedia,apps-android-wikipedia,2013-10-25 14:31:39,2019-08-23 05:08:29,False,200271,Java,7,126,84,...,25,179,5,http://www.github.com/wikimedia/apps-android-w...,Y,NaN,media,📱The official Wikipedia app for Android!,apps-android-wikipedia,Non-Relational
198,wildfly,wildfly,2010-07-08 20:46:07,2019-08-23 01:40:49,False,199801,Java,9,326,216,...,11,92,2,http://www.github.com/wildfly/wildfly,Y,NaN,infrastructure management,WildFly Application Server,wildfly,Multi-Model
199,yacy,yacy_search_server,2015-03-22 12:54:20,2019-07-17 07:36:46,False,742164,Java,16,46,87,...,1,20,0,http://www.github.com/yacy/yacy_search_server,Y,NaN,infrastructure management,Distributed Peer-to-Peer Web Search Engine and...,yacy_search_server,Multi-Model
200,zaproxy,zaproxy,2015-06-03 16:55:01,2019-08-22 07:24:00,False,181083,Java,11,127,385,...,3,227,124,http://www.github.com/zaproxy/zaproxy,Y,NaN,security,The OWASP ZAP core project,zaproxy,Relational
201,zendesk,maxwell,2015-02-09 22:06:13,2019-08-23 02:05:52,False,12433,Java,8,1000,438,...,304,165,141,http://www.github.com/zendesk/maxwell,Y,NaN,software development,"Maxwell's daemon, a mysql-to-json kafka producer",maxwell,Multi-Model

In [11]:
annotated_java_final[annotated_java_final['discardReason'].notnull()]

,owner,name,createdAt,pushedAt,isMirror,diskUsage,primaryLanguage,languages,contributors,watchers,...,branches,tags,releases,url,isSoftware,discardReason,domain,description,Projects,Model
71,ethereum,ethereumj,2014-05-13 07:50:14,2019-08-16 07:03:17,False,47958,Java,2,87,247,...,23,50,38,http://www.github.com/ethereum/ethereumj,Y,Deprecated,NaN,Java implementation of the Ethereum yellowpape...,ethereumj,Multi-Model
138,openhab,openhab1-addons,2013-09-20 20:28:43,2019-08-20 09:56:31,False,242201,Java,8,456,421,...,10,44,14,http://www.github.com/openhab/openhab1-addons,Y,Archived,automation,Add-ons for openHAB 1.x,openhab1-addons,Multi-Model
139,openhab,openhab2-addons,2014-05-13 19:41:58,2019-08-23 04:51:13,False,359701,Java,10,405,209,...,1,47,5,http://www.github.com/openhab/openhab2-addons,Y,Archived,automation,Add-ons for openHAB 2.x,openhab2-addons,Multi-Model
191,vector-im,riot-android,2015-12-17 15:18:05,2019-08-19 08:45:40,False,891939,Java,5,231,91,...,10,57,33,http://www.github.com/vector-im/riot-android,Y,Deprecated,communication,A glossy Matrix collaboration client for Android,riot-android,Non-Relational

In [21]:
annotated_java_final = annotated_java_final[annotated_java_final['discardReason'].isnull()]
annotated_java_final

,owner,name,createdAt,pushedAt,isMirror,diskUsage,primaryLanguage,languages,contributors,watchers,...,branches,tags,releases,url,isSoftware,discardReason,domain,description,Projects,Model
0,Activiti,Activiti,2012-09-13 11:34:43,2019-08-23 12:02:11,False,95935,Java,5,171,623,...,74,263,23,http://www.github.com/Activiti/Activiti,Y,NaN,automation,Activiti is a light-weight workflow and Busine...,Activiti,Relational
1,airbytehq,airbyte,2020-07-27 23:55:54,2021-03-27 01:11:40,False,36699,Java,12,35,62,...,192,39,24,http://www.github.com/airbytehq/airbyte,Y,NaN,infrastructure management,Airbyte is an open-source EL(T) platform that ...,airbyte,Multi-Model
2,airsonic,airsonic,2017-07-04 17:58:56,2021-03-19 20:21:24,False,122634,Java,8,51,62,...,25,27,26,http://www.github.com/airsonic/airsonic,Y,NaN,media,":satellite: :cloud: :notes:Airsonic, a Free an...",airsonic,Multi-Model
3,alibaba,spring-cloud-alibaba,2017-12-01 20:49:15,2019-08-23 08:51:45,False,4285,Java,2,53,594,...,3,10,5,http://www.github.com/alibaba/spring-cloud-ali...,Y,NaN,infrastructure management,Spring Cloud Alibaba provides a one-stop solut...,spring-cloud-alibaba,Relational
4,alibaba,nacos,2018-06-15 06:49:27,2019-08-23 11:58:15,False,19342,Java,7,72,620,...,77,21,19,http://www.github.com/alibaba/nacos,Y,NaN,infrastructure management,"an easy-to-use dynamic service discovery, conf...",nacos,Relational
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,wikimedia,apps-android-wikipedia,2013-10-25 14:31:39,2019-08-23 05:08:29,False,200271,Java,7,126,84,...,25,179,5,http://www.github.com/wikimedia/apps-android-w...,Y,NaN,media,📱The official Wikipedia app for Android!,apps-android-wikipedia,Non-Relational
198,wildfly,wildfly,2010-07-08 20:46:07,2019-08-23 01:40:49,False,199801,Java,9,326,216,...,11,92,2,http://www.github.com/wildfly/wildfly,Y,NaN,infrastructure management,WildFly Application Server,wildfly,Multi-Model
199,yacy,yacy_search_server,2015-03-22 12:54:20,2019-07-17 07:36:46,False,742164,Java,16,46,87,...,1,20,0,http://www.github.com/yacy/yacy_search_server,Y,NaN,infrastructure management,Distributed Peer-to-Peer Web Search Engine and...,yacy_search_server,Multi-Model
200,zaproxy,zaproxy,2015-06-03 16:55:01,2019-08-22 07:24:00,False,181083,Java,11,127,385,...,3,227,124,http://www.github.com/zaproxy/zaproxy,Y,NaN,security,The OWASP ZAP core project,zaproxy,Relational
201,zendesk,maxwell,2015-02-09 22:06:13,2019-08-23 02:05:52,False,12433,Java,8,1000,438,...,304,165,141,http://www.github.com/zendesk/maxwell,Y,NaN,software development,"Maxwell's daemon, a mysql-to-json kafka producer",maxwell,Multi-Model

In [22]:
annotated_java = pd.read_excel('./annotated_java.xlsx')
df = annotated_java[annotated_java['discardReason'].isnull()]
df.to_excel('annotated_fltred.xlsx', index=False)